.btn-right{
float: right;
}

td, th {
padding: 10px;
}

th {
background-color: #DAEAF0;
}

td {
border-bottom: 1px solid #ccc;
}

.row, table{
margin-left: auto;
margin-right: auto;
margin-top: 10px;
border-radius: 15px;
}

body{
background-color: #E1E6EE;
font-family: 'Indie Flower', cursive;

}

.wrapper{
max-width: 600px;
margin-top: 10px;
background-color: white;
padding: 20px;
border-radius: 15px;
border: 1px solid  #B4B8BE;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.to-center{
margin-top: 2.5%;
margin-bottom: 2.5%;
max-width: 400px;
}

.navbar-nav {
font-weight: bold;
}


h2{
 margin-bottom: 20px;
 font-family: 'Indie Flower', cursive;
 border-bottom:1px solid #fff;
 padding-bottom:10px;
 text-align: center;
 color: #2A88B6;
 font-weight: bold;
}

.error{
display: block;
padding:5px;
margin-top: 10px;
}