body
{
    background-color: #fff;
    padding-top: 40px;
    font: normal 14px Roboto,arial,sans-serif;
}

.wrapper {
    text-align: center;
}

.error {
display: block;
padding:5px;
margin-bottom: 10px;
}

.form-login {
    background-color: #E6F2F4;
    padding: 10px 10px 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 15px;
    box-shadow:0 2px 0 #cfcfcf;
}

.input-group-addon
{
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
.form-control:focus
{
    background-color: #ffffff;
    border-color: rgb(40, 94, 142);
    color: #00254F;
}

h4 { 
 border-bottom:1px solid #fff;
 padding-bottom:10px;
 text-align: center;
 color: #1985FF;
 font-weight: bold;
}
