@import url(http://fonts.googleapis.com/css?family=Roboto:400);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);

body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}

.container {
    padding: 100px;
    position: fixed;
}

.to-center{
margin-top: 2.5%;
margin-bottom: 2.5%;
max-width: 400px;
}

.error{
display: block;
padding:5px;
margin-top: 10px;
}

.form-login {
    background-color: #ceeddd;
    padding: 10px 10px 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

.form-denied {
    background-color: #f7ccbd;
    padding: 10px 10px 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

.form-denied h4 {
	font-family: 'Permanent Marker', cursive;
	color: #e10000;
	font-weight: bold;
	font-size: 2em;
	border-bottom: none;
}

.denied {
	font-family: 'Permanent Marker', cursive;
}

h4 { 
 border-bottom:1px solid #fff;
 padding-bottom:10px;
 text-align: center;
 color: #2A88B6;
 font-style: italic;
 font-weight: bold;
}

.form-denied h2 {
	font-family: 'Permanent Marker', cursive;
	color: #e10000;
	font-weight: bold;
	font-size: 2.5em;
}

h2 { 
 font-family: 'Indie Flower', cursive;
 border-bottom:1px solid #fff;
 padding-bottom:10px;
 text-align: center;
 color: #2A88B6;
 font-weight: bold;
}

.form-control {
    border-radius: 10px;
}

.form-group{
	margin-bottom: 30px;
}

.wrapper {
    text-align: center;
}
