@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/css?family=Roboto:400);

body {
	background-color: #E1E6EE;
	font: normal 14px Roboto, arial, sans-serif;
}

.form-group {
	margin-bottom: 30px;
	margin-left: 10px;
}

.row {
	margin-left: auto;
	margin-right: auto;
}

.wrapper {
	max-width: 600px;
	background-color: white;
	padding: 20px;
	border-radius: 15px;
	border: 1px solid  #B4B8BE;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.to-center {
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	max-width: 400px;
}

.btn-right {
	float: right;
}

.error {
	display: block;
	padding: 5px;
	margin-top: 2px;
}

h2 { 
	font-family: 'Indie Flower', cursive;
	border-bottom: 1px solid #2A88B6;
	padding-bottom: 20px;
	text-align: center;
	color: #2A88B6;
	font-weight: bold;
}